body {
    background: #F2F2F2;
}
.Title{
    font-family:myFirstFont 
}
@font-face {
    font-family: myFirstFont;
    src: url(RammettoOne-Regular.ttf);
}
.nav-wrapper{
    height:50px;
    width: auto;
    background-color: blanchedalmond;
}