@RenderPage("~/Layout/Header.cshtml")

<nav>
    <div class="nav-wrapper">
        <a href="~/index.cshtml" class="brand-logo center">a Special Day</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="active"><a href="#!">Home</a></li>
            <li><a href="~/Wenslijst.cshtml">Wenslijst</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="~/Login.cshtml">Login</a></li>
        </ul>

    </div>
</nav>

<div>
    <div class="container">
        <h1><span style="text-align: center;">Welkom bij <i>a Special Day</i></span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
</div>

@RenderPage("~/Layout/Footer.cshtml")