<!DOCTYPE html>
<html>
    <head>
        <title>Verlanglijst</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="Title">Ons Verlanglijstje</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="~/verlanglijstje.cshtml">Verlanglijst</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.trouwkaartjes.com/Afbeeldingen%20nieuw/roos.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Klik op de afbeelding om je eigen bruiloft verlanglijstje aan te maken
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>

    </body>
</html>
